@import './reset';
@import './globals';
@import './mixins/all';
@import './blocks';
@import './text';
@import './fonts/all';

html {
  font-size: 10px;
  background-color:$backgroundColor;
}

body {
  height: 100%;
  font: 10px $mainFont;
  overflow-y: scroll !important;
  position: relative;
}
