@import './reset';
@import './globals';
@import './mixins/all';
@import './font';
@import './blocks';
@import './text';


html {
  font-size: 10px;
  background-color:$backgroundColor;
}

body {
  height: 100%;
  font: 10px $mainFont;
  overflow-y: scroll !important;
  position: relative;
}
