$textElementMarginBottom:   1rem;
$mainFont:                  'Ubuntu';



$primaryColor:              #000000;
$secondaryColor:            #FFFFFF;
$highlightColor:            #0DB2FF;
$backgroundColor:           #FFFFFF;
$subBackgroundColor:        #F5F5F5;
$errorColor:                #DE3100;
$accentColor:               #0DB2FF;


$screen-xs:                 768px;
$screen-sm:                 768px;
$screen-md:                 768px;
$screen-lg:                 768px;
