@import "../../assets/styles/mixins/all";
@import "../../assets/styles/globals";

.siteHeader {

  width:100%;

  .siteHeader__top {
    @include siteMargin;
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(center);

    background-color:rgba(0,0,0,.4);

    header {
      @include flex(6);

      h1 {
        margin-bottom: 0;
        color: $secondaryColor;
      }
    }
    .siteNav {
      @include flex(1);
    }
  }
}
