@font-face {
	font-family: 'Ubuntu';
	src: url('/assets/styles/fonts/ubuntu/Ubuntu-Medium.eot');
	src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Medium.woff') format('woff'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/assets/styles/fonts/ubuntu/Ubuntu-MediumItalic.eot');
	src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-MediumItalic.woff') format('woff'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/assets/styles/fonts/ubuntu/Ubuntu-LightItalic.eot');
	src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-LightItalic.woff') format('woff'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/assets/styles/fonts/ubuntu/Ubuntu-Light.eot');
	src: local('Ubuntu Light'), local('Ubuntu-Light'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Light.woff') format('woff'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/assets/styles/fonts/ubuntu/Ubuntu-Bold.eot');
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Bold.woff') format('woff'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/assets/styles/fonts/ubuntu/Ubuntu-Italic.eot');
	src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Italic.woff') format('woff'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/assets/styles/fonts/ubuntu/Ubuntu-Regular.eot');
	src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Regular.woff') format('woff'),
		url('/assets/styles/fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
