<div class="fixturesList">
  <div ng-repeat="fixture in vm.fixtureList.teams" class="fixtureRow">
    <div class="fixtureRow__team">
      {{fixture.home}}
    </div>
    <div class="fixtureRow__teamScore">
      {{fixture.home}}
    </div>
    <div class="fixtureRow__vs">
      <p>VS</p>
    </div>
    <div class="fixtureRow__team">
      {{fixture.away}}
    </div>
    <div class="fixtureRow__teamScore">
      {{fixture.away}}
    </div>
    <div class="fixtureRow__userScore">
      <input type="text">
    </div>
  </div>
  <button ng-click="vm.test()"></button>
</div>